.tasksContainer {
    width: 100%;
    height: 300px;
    margin: 20px 0;
    border: 1px solid grey;
    border-radius: 3px;
    overflow-y: auto;
}

.tasksContainer .task {
    width: 100%;
    min-height: 20%;
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
}

.tasksContainer .task .checkbox {
    width: 20px;
    height: 20px;
}

.taskText {
    font-size: 25px;
    width: 90%;
    cursor: pointer;
    word-break: break-all;
    padding-left: 10px;
}

.tasksContainer .task .delete {
    color: red;
    width: 10%;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
    transition-duration: .2s;
}

.task:hover .delete {
    opacity: .5;
}

.task:hover .delete:hover {
    opacity: 1;
}

.gray {
    color: gray;
}